@{
    ViewBag.Title = "Pagina inicial";
}

<h2>@ViewBag.Message</h2>
<p>
    Em desenvolvimento <a href="http://www.livepsicologos.com" title="Live Psicologos">http://www.livepsicologos.com</a>.
</p>
